body {
  font-family: sans-serif;
  font-weight: 100;
}

#topBar input::placeholder {
  font-size: 16px;
}

#searchBar, #newTodoTitle {
  height: 18px;
  border-width: 0 0 2px;
  outline: none;
  margin-right: 20px;
}

#todoListContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-evenly;
}

.taskCheckBox{
  display: none ;
}

.taskCheckBox + label > div {
  height: 10px;
  width: 10px;
  border: 2px solid rgb(9, 128, 151);
  border-radius: 2px;
  cursor: pointer;
}

.taskCheckBox:checked + label > div {
  background: rgb(9, 128, 151);
  box-shadow: inset 0 0 0 1px white;
}

input[type="checkbox"]:checked ~ p {
  opacity: 0.4;
}

.todo {
  border-radius: 4px;
  width: 250px;
  padding: 0 10px 5px;
  box-shadow: 0px 0px 5px 2px #f0f0f0;
  margin: 15px;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.todo > * {
  flex-shrink: 0;
}

.todo:hover {
  box-shadow: 0px 0px 8px 4px #f0f0f0;
}

.todoTitle {
  display: flex;
  border-bottom: 1px solid rgb(9, 128, 151);
  margin-bottom: 10px;
  padding: 8px;
}

.todoTitle > img {
  flex-shrink: 0;
  width: 28px;
  margin: auto;
  transition: all 250ms;
  cursor: pointer;
}

.todoTitle > img:hover {
  transform: scale(1.3);
}

.todoTitle h3 {
  flex-grow: 1;
  outline: none;
  margin: 4px;
  font-weight: 100;
  color: rgb(9, 128, 151);
  font-size: 20px;
  word-wrap: break-word;
  word-break: break-all;
}

.tasksContainer {
  overflow: scroll;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

.taskDiv {
  padding: 0 5px;
  display: flex;
  align-items: center;
  margin: 4px 0;
}

.taskDiv:hover {
  background-color: rgba(200, 200, 200,0.1);
}

.taskDiv > * {
  flex-shrink: 0;
}

.taskDiv > p{
  margin: 3px 8px;
  line-height: 22px;
  flex-grow: 1;
  outline: none;
}

.taskDiv > img {
  width: 12px;
  display: none;
  width: 15px;
  cursor: pointer;
  transition: all 250ms;
}

.taskDiv > img:hover {
  transform: scale(1.2);
}

.taskDiv:hover > img {
  display: inline;
}

.todo > input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 100;
  padding: 4px 6px;
  border-top: 1px solid rgb(9, 128, 151);
}

.todo > input::placeholder{
  color: rgb(9, 128, 151);
}


h1 {
  text-align: center;
  color: rgb(138, 138, 138);
  display: block;
  font-weight: bold;
}

/* img {
  cursor: pointer;
  width: 50px;
  margin-top: -10px;
  opacity: 0.7;
} */

#topBar {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row-reverse;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
}

/* .taskName {
  outline: none;
  height: 20px;
  width: 154px;
  border: none;
  border-color: transparent;
  font-weight: 1000px;
} */

#topBar input[type='text'] {
  font-size: 20px;
  padding: 10px;
}

.hidden {
  display: none;
}
